<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LetsChat</title>
		<meta name="description" content="Responsive Retina-Friendly Menu with different, size-dependent layouts" />
		<meta name="keywords" content="responsive menu, retina-ready, icon font, media queries, css3, transition, mobile" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		
		<script src="js/modernizr.custom.js"></script>
	
		<script src="js/angular.js"></script>
<!-- 		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script> -->
		<script src="js/angular-route.js"></script>
		<script src="js/angular-cookies.js"></script>
		<script src="MyRouteConfig.js"></script>
		<script src="c_blog/BlogController.js"></script>
		<script src="c_user/UserController.js"></script>
		
		
		<style>
		body
		{
			background-image: url("images/img2.jpg");
			background-size:1500px;
		}
		</style>

	</head>
	<body ng-app="myApp">
		<center>
			<div padding:5px;">
		<h1>LetsChat</h1>
	</div>
	</center>
		<div class="container">
			<div class="main clearfix">
				<nav id="menu" class="nav">
					<ul>
						<li>
							<a href="#/Home">
								<span class="icon">
									<i aria-hidden="true" class="icon-home"></i>
								</span>
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="#/Contact">
								<span class="icon">
									<i aria-hidden="true" class="icon-contact"></i>
								</span>
								<span>Contact</span>
							</a>
						</li>
						<li>
							<a href="#/AboutUs">
								<span class="icon">
									<i aria-hidden="true" class="icon-portfolio"></i>
								</span>
								<span>About Us</span>
							</a>
						</li>
						<li ng-show="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Blog">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Blog</span>
							</a>
						</li>
						<li ng-show="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Forum">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Forum</span>
							</a>
						</li>
						<li ng-show="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Job">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Job</span>
							</a>
						</li>
						<li ng-show="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Chat">
								<span class="icon">
									<i aria-hidden="true" class="icon-blog"></i>
								</span>
								<span>Chat</span>
							</a>
						</li>
						<li ng-hide="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Register">
								<span class="icon">
									<i aria-hidden="true" class="icon-team"></i>
								</span>
								<span>Register</span>
							</a>
						</li>
						<li ng-hide="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/Login">
								<span class="icon">
									<i aria-hidden="true" class="icon-login"></i>
								</span>
								<span>Login</span>
							</a>
						</li>
						<li ng-show="currentUser.role=='ROLEUSER'||currentUser.role=='ROLEADMIN'">
							<a href="#/uploadProfilePicture">
								<span class="icon">
									<i aria-hidden="true" class="icon-login"></i>
								</span>
								<span>ProfilePic</span>
							</a>
						</li>
						<div ng-controller="UserController" ng-hide="currentUser==undefined">
						<li>
							<a href="">{{currentUser.loginname}}
							</a>
						</li>
						
						<li><button ng-click="logout()">
									<span class="icon">
									<i aria-hidden="true" class="icon-login"></i>
								</span>
								<span>Logout</span>
							</button>
						</li>
						<li><img id="image" src="http://localhost:6261/LetsChatMiddleWare/getImage/{{currentUser.loginname}}" alt="user" width="50px" height="50px">
									<span class="icon">
									<i aria-hidden="true" class="icon-login"></i>
								</span>
								<span>Logout</span>
							</button>
						</li>
						
						
						</div>
<!-- 						<li ng-show="currentUser.role=='ROLEUSER'" class="dropdown"> -->
<!-- 						<p class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white;padding-top:10px">Profile -->
<!--         				<span class="caret"></span></p> -->
<!--         				<ul class="dropdown-menu"> -->
        				
<!--           					<li><a href="#/displayProfile">View Profile</a></li> -->
<!--           					<li><a href="#">Update Profile</a></li> -->
<!--           					<li><a href="#/uploadProfilePicture">Upload Profile Picture</a></li> -->
<!--           				</ul> -->
<!--       				</li> -->
<!-- 					</ul> -->
					
<!-- 					<ul class="nav navbar-nav navbar-right" ng-hide="currentUser==undefined" style="padding-top:20px"> -->
<!-- 					<li style="color:white;padding-right:20px;font-size:20px">Welcome {{currentUser.firstName}} {{currentUser.lastName}}</li> -->
<!-- 					<li> -->
<!-- 					</li></ul> -->
					
<!-- 					<img id="img1"   -->
<!-- 					src="http://localhost:6061/LetsChatMiddleWare/viewProfilePicture/{{currentUser.loginName}}" -->
<!-- 					onerror="if (this.src != 'images/profilepicture.png') this.src = 'images/profilepicture.png';" -->
<!-- 					style="height:80px;width:100px" onshow="checkSRC"></li>  -->
								
<!-- 					<li><form ng-controller="UserController"><input type="submit" value="LogOut" ng-click="logout()"></form></li> -->
<!-- 				</ul> -->
				</nav>
				<div ng-view></div>
			</div>
			
		</div><!-- /container -->
		
		
		<script>
			//  The function to change the class
			var changeClass = function (r,className1,className2) {
				var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
				if( regex.test(r.className) ) {
					r.className = r.className.replace(regex,' '+className2+' ');
			    }
			    else{
					r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
			    }
			    return r.className;
			};

			//  Creating our button in JS for smaller screens
			var menuElements = document.getElementById('menu');
			menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

			//  Toggle the class on click to show / hide the menu
			document.getElementById('menutoggle').onclick = function() {
				changeClass(this, 'navtoogle active', 'navtoogle');
			}

			// http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
			document.onclick = function(e) {
				var mobileButton = document.getElementById('menutoggle'),
					buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

				if(buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
					changeClass(mobileButton, 'navtoogle active', 'navtoogle');
				}
			}
		</script>
	</body>
</html>
